{
  "swagger": "2.0",
  "info": {
    "version": "1.0.210103",
    "title": "ImgUtil"
  },
  "host": "imgutil.io",
  "basePath": "/",
  "schemes": [ "http"],
  "paths": {
    "/api/image/thumbnail": {
      "post": {
        "tags": ["thumbnail"],
        "summary": "uploads an image and get back the image's thumbnail",
        "description": "",
        "operationId": "uploadFile",
        "consumes": ["multipart/form-data"],
        "produces": ["image/jpg"],
        "parameters": [
          {
            "name": "percentage",
            "in": "path",
            "description": "percentage",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "image",
            "in": "formData",
            "description": "file to upload",
            "required": false,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "bad request"
          },
          "500": {
            "description": "internal error"
          }
        }
      }
    },
    "/api/image/asciify": {
      "post": {
        "tags": ["asciify"],
        "summary": "uploads an image and get back asciified image",
        "description": "",
        "operationId": "uploadFile",
        "consumes": ["multipart/form-data"],
        "produces": ["plain/text"],
        "parameters": [
          {
            "name": "width",
            "in": "path",
            "description": "number of character per line",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "image",
            "in": "formData",
            "description": "file to upload",
            "required": false,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "bad request"
          },
          "500": {
            "description": "internal error"
          }
        }
      }
    },
    "/api/image/cartoon": {
      "post": {
        "tags": ["cartoon"],
        "summary": "uploads an image and get back a cartoonized image",
        "description": "",
        "operationId": "uploadFile",
        "consumes": ["multipart/form-data"],
        "produces": ["image/jpg"],
        "parameters": [
          {
            "name": "image",
            "in": "formData",
            "description": "file to upload",
            "required": false,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "bad request"
          },
          "500": {
            "description": "internal error"
          }
        }
      }
    }
  }
}
