{
  "swagger": "2.0",
  "info": {
    "description": "This is an image utility service server.",
    "version": "1.0.210103",
    "title": "ImgUtil",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "email": "bruce.he.62@gmail.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "imgutil.io",
  "basePath": "/",
  "tags": [
    {
      "name": "ImgUtil",
      "description": "Everything about image"
    }
  ],
  "schemes": ["https", "http"],
  "paths": {
    "/image/thumbnail": {
      "post": {
        "tags": ["thumbnail"],
        "summary": "uploads an image and get back the image's thumbnail",
        "description": "",
        "operationId": "uploadFile",
        "consumes": ["multipart/form-data"],
        "produces": ["image/jpg"],
        "parameters": [
          {
            "name": "percentage",
            "in": "path",
            "description": "percentage",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "image",
            "in": "formData",
            "description": "file to upload",
            "required": false,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "bad request"
          },
          "500": {
            "description": "internal error"
          }
        }
      }
    },
    "/image/asciify": {
      "post": {
        "tags": ["asciify"],
        "summary": "uploads an image and get back asciified image",
        "description": "",
        "operationId": "uploadFile",
        "consumes": ["multipart/form-data"],
        "produces": ["plain/text"],
        "parameters": [
          {
            "name": "width",
            "in": "path",
            "description": "number of character per line",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "image",
            "in": "formData",
            "description": "file to upload",
            "required": false,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "bad request"
          },
          "500": {
            "description": "internal error"
          }
        }
      }
    },
    "/image/cartoon": {
      "post": {
        "tags": ["cartoon"],
        "summary": "uploads an image and get back a cartoonized image",
        "description": "",
        "operationId": "uploadFile",
        "consumes": ["multipart/form-data"],
        "produces": ["image/jpg"],
        "parameters": [
          {
            "name": "image",
            "in": "formData",
            "description": "file to upload",
            "required": false,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "bad request"
          },
          "500": {
            "description": "internal error"
          }
        }
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  }
}
